@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.wrapper {
  width: 100%;
  font-family: var(--font-9);
  color: black;
}

.btn-submit {
  width: 40%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #9e99a9;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
