.wrapper {
  height: 100%;
  position: relative;
}
.menu {
  background-color: var(--color-pink-200);
}
.menu li div {
  padding: 28px 0;
  font-weight: 600;
  box-shadow: 1pt 1pt var(--color-grey-400);
  background-color: white;
}
.menu li ul {
  overflow-y: overlay;
  max-height: 250px;
}
